<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chetna_priya.myapplication" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FindAddressfromLocation"
            android:exported="false" />

        <activity
            android:name=".ViewOnMap"
            android:label="@string/title_activity_view_on_map" >
        </activity>
        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCzvIIx08UO85DJIaYPuaFefxHWOudnZUA"/>
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCADa3AH7VrK95x2aqI_9q4WKAzIqyldRk" />

        <activity
            android:name=".GetPickupLocation"
            android:label="@string/title_activity_get_pickup_location" >
        </activity>
        <activity
            android:name=".GetDropLocation"
            android:label="@string/title_activity_get_drop_location" >
        </activity>
        <activity
            android:name=".BookCabActivity"
            android:label="@string/title_activity_book_cab" >
        </activity>
    </application>

</manifest>
